<section>
    <div class="wrapper-container with-margin with-equal-height  row    ">
        <div class="padded-content">
            <h2 id="clients" class="margin-bottom ">People I've Worked With</h2>
            <ul class="img-list">
                <li>
                    <a href="https://www.vwfs.co.uk" target="_blank"><img src="img/vwfs-transparent.png" alt="Volkswagen Financial Services"></a>
                </li>
                <li>
                    <a href="https://www.huxleydigital.co.uk" target="_blank"><img class="svg" src="img/huxley.svg" alt="Huxley Digital"></a>
                </li>
                <li>
                    <a href="https://nlsltd.com" target="_blank"><img src="img/nls.png" alt="NLS ltd"></a>
                </li>
                <li>
                    <a href="http://www.momentumabm.com" target="_blank"><img class="svg" src="img/momentum.svg" alt="Momentum ABM"></a>
                </li>
                <li>
                    <a href="https://www.acceleratedigital.com" target="_blank"><img class="svg" src="img/accelerate.svg" alt="Accelerate Digital"></a>
                </li>
                <li>
                    <a href="https://lumesse.com/" target="_blank"><img src="img/saba-lumesse-logo.png" alt="Saba Lumesse"></a>
                </li>
            </ul>
        </div>
    </div>
</section>