<footer>
 	<div class="container">
   		<div class="padded-content">
   		<div class="wrapper-container">
  			<div class="wrapper-50 no-margin-bottom"><p>&copy; Helen Brockelbank 2018</p></div>
  			<div class="wrapper-50 no-margin-bottom">
  				<ul class="social">
 					<li><a href="https://github.com/hlb89" class="github">github</a></li>
  					<li><a href="https://twitter.com/H_Bottles" class="twitter">twitter</a></li>
  					<li><a href="https://uk.linkedin.com/in/helen-brockelbank-75250452" class="linkedin">linkedin</a></li>
  				</ul>
  			</div>
   		</div>
   		</div>
   	</div>
</footer>