<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->

  <title>Helen Brockelbank - Front End Developer</title>
<!-- 
  <meta name="description" content="{{ site.description }}">
  <meta itemprop="name" content="{{ site.title }}">
  <meta itemprop="description" content="{{ site.description }}"> -->

  <!-- Twitter-->
  <!-- <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@twitter">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:url" content="{{ site.url }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.img }}"> -->

  <!-- Opengraph-->
  <!-- <meta property="og:title" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:image" content="{{ site.img }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:locale" content="en_US"> -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
  <link rel="manifest" href="img/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
  <script src="js/modernizr-2.8.3.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
