<header>  
   <div class="container">
       <a href="/"><h1><img src="img/dev.svg" alt="Helen Brockelbank" class="logo"> Helen Brockelbank</h1></a>
       <section class="accessibility-help hide">
           <h2 class="hide">Accessibility links</h2>
           <ul>
               <li><a href="#main-content">Skip to main content</a></li>
           </ul> 
       </section>
      
       <nav class="mainMenu">
           <h2 class="hide">Navigation</h2>
           <label for="toggleMenu" class="menuTitle" onclick=""><img src="img/dev.svg" alt="Helen Brockelbank" class="logo">
            <span class="hamburger">
                <span>toggle menu</span>
            </span></label>
       <input type="checkbox" id="toggleMenu" />
           <ul>
               <li><a href="#about">About</a></li>
               <li><a href="#portfolio">Portfolio</a></li>
               <li><a href="#contact">Contact</a></li>
               <li><a href="assets/Resume.pdf">CV</a></li>
           </ul>
       </nav>
   </div>
</header>