/*Main CSS*/
body {
	font-family:$primaryFont;
	line-height:1.4;
	font-size:16px;
	color:$black;
	-webkit-overflow-scrolling: touch;
    * {
    	box-sizing:border-box;
    }
}

header, footer {
	background: $black;
    float: left;
    width: 100%;
    color:#ffffff;
}

header {
	position:fixed;
	z-index:999;
}

#main-content {
	padding-top:40px;
	overflow-x:hidden;
	@include viewport(768) {
		padding-top:62px;
	}
}

/*Typograpghy Classes*/
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family:$secondaryFont;
	font-weight:300;
} 

h1, .h1 {
	font-size:40px;
	padding:0 0 $setSpacing /2 0;
	width:360px;
	max-width:100%;
	float:left;
	color:#ffffff;
	display:none;
	@include viewport(768) {
		display: block;
	}
}

h2, .h2 {
	font-size:32px;
	padding:0 0 $setSpacing /2 0;
	padding-top: 60px;
	margin-top: -60px;
	@include viewport(768) {
		padding-top: 105px;
	    margin-top: -105px;
	}
}

h3, .h3 {
	font-size:26px;
	padding:0 0 $setSpacing /2 0;
}

h4, .h4 {
	font-size:20px;
	padding:0 0 $setSpacing /2 0;
}

p, ul, ol {
	padding:0 0 $setSpacing /2 0;
	widows: 2;
}

nav ul {
	list-style: none;
	float:right;
	margin-top:10px;
	li {
		display: inline-block;
		a {
			color: #ffffff;
			padding:10px;
			@include viewport(768) {
			padding:20px;
			}
		}
	}
}

/*Form Styles*/

:required {
	background:red;
}

:required:hover {
	
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { 
  color: #ccc;
}

::-moz-placeholder { 
   color: #ccc;
}

:-ms-input-placeholder {  
   color: #ccc;  
}

input[type=text], input[type=email], input[type=password], textarea {
	width:100%;
	max-width:100%;
	border:1px solid #cccccc;
	border-radius:5px;
	@include viewport(768) {
		width:350px;
	}
}
textarea {
	min-height:200px;
}

button, input[type="submit"], .button {
	background:$black;
	padding:10px;
	border-radius:5px;
	border:0;
	color:#ffffff;
	margin-left:0;
	transition: all 0.5s ease;
	@include viewport(768) {
		margin-left: 300px;
	}
	@include viewport(1120) {
		margin-left: 450px;
	}
	&:hover {
		background:$medGrey;
		transition: all 0.7s ease;
	}
}

.form-field-wrapper {
	margin-bottom:12px;
}

label {
	display:inline-block;
	width:100%;
	@include viewport(768) {
		width:150px;
	}
}

.text-pic.wrapper-container.with-margin .wrapper-50 {
	width:100%;
	@include viewport(768) {
		margin-left: 1%;
	    width:49.5%;

	    &:first-child {
	      margin-left:0;
	    }
	}
	.padded-content {
		width: 100%;
	}
}

.centre {
	text-align:center;
	img {
		margin:auto;
		width: 100%;
    	height: auto;
	}
}
.row {
	padding-top:30px;
	padding-bottom:30px;
    position:relative;
    float: left;
    @include viewport(768) {
	    padding-top: 50px;
	    padding-bottom:50px;
    }
	&:before {
	    left: 100%!important;
	}
	&:after {
	    right: 100%!important;
	}
	&.no-padding {
		padding-top:0;
		padding-bottom: 0;
	}
}

.row:before, .row:after {
    display: block!important;
    content: " "!important;
    position: absolute!important;
    width: 9999px!important;
    top: 0!important;
    bottom: 0!important;
}

.row:after {
    clear: both;
}

.vert-center {
	@include viewport(768) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }}

// .image-wrapper {
// 	border-radius:10px;
// 	border:2px solid $grey;
// 	padding:5px;
// 	img {
// 		border-radius:10px;
		
// 	}
// }

/*Elastic Videoes / Maps*/
.item-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.item-container iframe,  
.item-container object,  
.item-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.social { 
	list-style:none;
	float:left;
	li {
		display:inline-block;
		margin-right: 10px;
		a {
			display: block;
			width: 30px;
			height: 30px;
			background:url('../images/social-dark.svg') no-repeat;
			background-size: 130px 29px;
			text-indent: -9999px;
			&:hover {
				opacity: 0.8;
			}
			&.logo {
				background:none;
				text-indent: 0;
				width: auto;
			}
			&.github {
				background-position: left;
			}
			&.twitter {
				background-position: -69px;
			}

			&.instagram {
				background-position:-34px;
			}

			&.linkedin {
				background-position:-102px;
			}
		}
	}
}
footer ul.social {
	list-style:none;
	float:left;
	@include viewport(600) {
		float:right;
	}
}