<!-- index.nunjucks -->
{% extends "default.html" %}
{% block content %}
<div class="container">
	<div class="wrapper-container with-margin with-equal-height text-pic">
		<div class="wrapper-50 no-margin-bottom vert-center">
			<div class="padded-content horizontal">
				<div class="image-wrapper">
					<img src="img/owlhelen.jpg" alt="Helen with Owl">
				</div>
			</div>
		</div>
		<div class="wrapper-50 no-margin-bottom">
			<div class="padded-content">
				<h2 id="about">About Me</h2>
				<p>I'm a front end web developer who loves building accessible, user friendly websites, crafting, and birds. I can be found learning about the latest web technologies, cycling along the seafront, or singing with The Dulcetones. I was touched by a humboldt penguin at Artis, Amsterdam, and have been elated ever since.</p>
				<p>I graduated from the University of Sussex with a Masters degree in Computing with Digital Media, and for the past 6 years have been developing websites in Brighton and London.</p>
				<p>I am available for freelance work.</p>

			</div>
		</div>
	</div>
	{% include "partials/portfolio.html" %}
	{% include "partials/clients.html" %}
	{% include "partials/contact.html" %}
</div><!-- end container -->
{% endblock %}
