<%= partial "header" %>
<div class="container">
	<div class="wrapper-100">
		<div class="padded-content">
			<h1>.wrapper-100</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
			<p><strong>Suspendisse metus</strong> nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
		</div>
	</div>
	<div class="wrapper-container with-margin with-equal-height">
		<div class="wrapper-50">
			<div class="padded-content">
				<img src="http://placehold.it/350x150">
			</div>
		</div>
		<div class="wrapper-50">
			<div class="padded-content">
				<h2>About Me</h2>
				<p>I'm a front end web developer who loves building accessible, user friendly websites, crafting, and birds. I can be found learning about the lastest web technologies, cycling along the seafront, or singing with The Dulcetones. I was touched by a humboldt penguin at Artis, Amsterdam, and have been elated ever since.</p>
				<p>I graduated from the University of Sussex with a Masters degree in Computing with Digital Media, and for the past 4 years have been developing websites in Brighton. I currently work for MBA, one of the world's leading independent agencies.</p>
			</div>
		</div>
	</div>
		<div class="wrapper-100">
		<div class="padded-content">
			<h2>Portfolio</h2>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
		</div>
	</div>
	<div class="wrapper-container with-margin with-equal-height">
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>4Com HiHi</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>Investec</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>AirPartner</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed commodo dolor, ac dapibus enim. Duis tincidunt est at sapien pharetra, et congue odio viverra.</p>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
	</div>
	<div class="wrapper-container with-margin with-equal-height">
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>EC English</h3>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>O2</h3>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed,</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>Comte</h3>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
	</div>
	<div class="wrapper-container with-margin with-equal-height">
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>Diabetes UK</h3>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>Neilson</h3>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h3>The Marketing Society</h3>
				<p>Suspendisse metus nisl, fringilla sezd laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet en.</p>
			</div>
		</div>
	</div>
	<div class="wrapper-container with-margin with-equal-height">
		<div class="wrapper-33">
			<div class="padded-content">
				<h4>Cardiff Bus</h4>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h4>Rosso Bus</h4>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet en.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h4>Uno Bus</h4>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet en.</p>
			</div>
		</div>
	</div>
	<div class="wrapper-container with-margin with-equal-height">
		<div class="wrapper-66">
			<div class="padded-content">
				<h4>.wrapper-66</h4>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
		<div class="wrapper-33">
			<div class="padded-content">
				<h4>.wrapper-33</h4>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet en.</p>
			</div>
		</div>
	</div>
	<div class="wrapper-container with-margin with-equal-height">
		<div class="wrapper-33">
			<div class="padded-content">
				<h4>.wrapper-33</h4>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet enim rhoncus viverra. Suspendisse gravida massa eu justo tincidunt porta. Maecenas tempus accumsan ante at sodales. Proin nec consectetur lectus, ac tempor elit. Nulla non euismod elit. Sed eu sagittis arcu.</p>
			</div>
		</div>
		<div class="wrapper-66">
			<div class="padded-content">
				<h4>.wrapper-66</h4>
				<p>Suspendisse metus nisl, fringilla sed laoreet vitae, vestibulum at orci. Pellentesque elit mauris, finibus sit amet enim sed, faucibus cursus neque. Curabitur gravida orci sit amet en.</p>
			</div>
		</div>
	</div>

</div><!-- end container -->

<%= partial "footer" %>